html {

    overflow-x:hidden;
    height: 100%;
}

body {
    /* background-color: transparent; */
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
}

.header {
    max-height: 193px;
    height: 193px;
    background-color: #000;
    background: url('../images/177601542cd0d26ad35e9b557b5dee23.jpg');
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
}

.header h1 {
    color: red;
    font-family: Futura;
    font-weight: bold;
    margin-left: 15pt;

}

.header p {
    color: #FFF;
    font-family: Futura;
    font-size: 10pt;
    padding: 0pt;
    margin-top: -5pt;
    margin-left: 16pt;
}

.content {
    /* calculate height subtracting header and footer height*/
    /* height: calc(100% - 13% - 7%);  */
    border-radius: 10pt 10pt 0pt 0pt;
}

.button {
    padding: 10pt;
    text-align: right;
}

.btn-fcp {
    color: #fff;
    background-color: #000000;
    border-color: #ffffff;
    margin: 5pt;
    /* width: 15%; */
    text-align: right;
}

.btn-fcp:hover, .btn-fcp:focus, .btn-fcp:active, .btn-fcp.active, .open>.dropdown-toggle.btn-fcp {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-color: #7d8b97; /*set the color you want here*/
}

.footer {
    background-image: url(../images/7995c9b601ce984733ca5a695ab01a7a.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    bottom: 0;
    padding: 15pt;
    background-color: rgb(255, 255, 255);
    height: 11%;
    color: #000;
    vertical-align: middle;
}

.footer-logo {
    position: absolute;
    padding: 0pt;
    margin-top: -14pt;
    left: 0pt;
    height: 10%;
}

.footer a {
    color: #000;
    position: relative;
    top: 10pt;
}

.prf-img {
    width:270px;
}

.sub-img {
    margin: 1pt;
    width:150px;
    height:200px;
}

.row-ac-title {
    background-color: #f5be1d;
    color:#FFF;
    height: 40pt;
}

.ac-title small {
    font-size:50%;
}

.row-ac-img {
    padding:10pt;
}

.ac-cont {
    text-align: center;
}

.ac-title {
    /* color: red;  */
    font-size: 25px;
    font-family: Futura;
    margin-left: 10pt;
    margin-top: 10pt;
    padding: 0pt 0pt 10pt 5pt;
    font-weight: bold;
}

.ac-tbl thead {
    color: #FFF;
    font-size:large;
}

.ac-dtl {
    font-size: medium;
    font-family: Futura;
    margin-top: -35pt;
}

a:link {
    color:#000;
}

/* visited link */
a:visited {
    color:#000;
}

/* mouse over link */
a:hover {
    color:red;
}

/* selected link */
a:active {
    color:#000;
}

@media (min-width: 768px){
    .navbar-nav {
        float: none;
        margin: 0;
    }
}


.navbar-nav {
    margin: 0 auto;
    width: fit-content;
    width: intrinsic;           /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content;    /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
}

#myNavbar {
    font-family: Futura;
}

.navbar-default .navbar-nav>li>a {
    color: #3B5E2B;
    font-size: 12.5pt;
    text-align: center;
}

.navbar-default {
    background-color: #FFF;
    border-color: transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #FFC04C;
    background-color: transparent;
}

.item-vid-thumb {
    /*width:200px;*/
    padding: 0pt;
    margin: 0pt;
}

.item-vid-container {
    width: 100%;
    /* background-color: red; */
    text-align: left;
    margin-bottom: 5pt;
}

.item-vid {
    margin-bottom: 10pt;
}
/* .item-vid-play{
    width: 250px;
    height: 20pt;
    position: fixed;
    margin-left: 30pt;
    margin-top: 15pt;
    background-color: rgba(255,255,255,0.5);
    font-size: large;
    font-weight: bold;
    font-family: Futura;
    display: none;
} */

.item-vid-title {
    font-weight: bold;
}

.actor-tile{
    display: inline-block;
    padding: 10pt 3pt 10pt 5pt;
}

.actor-tile p {
    text-align: left;
}

.image-thumbnail {
    width: 232px;
    height: 185px;
}

.header-credit {
    position: absolute;
    top: 50pt;
    right: 5pt;
    font-size: 7pt;
    font-family: Helvetica;
    color: #fff;
}

.refined-search {
    background-color: rgba(59,94,43,0.15);
    padding: 10pt 25pt 10pt 25pt;
    border-radius: 5pt;
    width: 99%;
    margin: 0 auto;
}

.hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.article-body, .feature-body{
    text-align:left;
    padding: 0pt 0pt 0pt 25pt;
    margin:10pt;
   font-family: Helvetica;
}

.article-body {

}

.ac-dtl-title {
    background-image: url('../images/24e573457cf62c73b72967042d121570.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.article {

}

#headline {
    color: rgba(255,0,0,0.8);
    margin-top: 20pt 0pt 15pt 0pt;
}

.col-event {
      padding: 10pt;
}

.col-event .row {
      margin: 0pt 5pt 5pt 5pt;
}

.event-header {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
}

.event-title {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
  font-weight: bold;
  color: rgba(255,0,0,0.8);
}

.center {
    text-align: center;
}

.fb_iframe_widget{
    top: -3pt;
}