html {
    background-color: #000;
    background: url('../images/b94f00523e26748c9a7af199f9e08d03.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}

